<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CEO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C14C16A1C7EE14C00D4DDA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C14C1811C7EE14C00D4DDA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C14C18C1C7EE14C00D4DDA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
